:root{
  font-size: 16px;
  --photo-size: 320px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#shower{
background: rgb(255,103,108);
background: linear-gradient(0deg, rgba(255,103,108,1) 0%, rgba(255,103,108,1) 50%, rgba(255,255,255,1) 51%);
min-height: 100vh;
}
img{
  width: 100%;
  
}
ul{
  list-style: none;
}
p{
  font-size: 50px;
  font-weight: 900;
  color:rgba(255,103,108,1);
  text-align: center;
}

.cardsContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  
}


.cardWrapper{
  margin: 1rem;
  padding: 2px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: aliceblue;
}


.cardContainer{
  text-align: center;
}


.cardPhotoWrapper{
  width: var(--photo-size);
  height: var(--photo-size);
  position: relative;
}


.cardPhotoWrapper>*{
  width: 100%;
  height: 100%; 
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}


.cardInitial{
  text-align: center;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  color: rgb(129, 9, 241);
  font-size: 7rem;
}
.cardPhoto{
  width: 70%;
  height: 70%;
  border-radius: 50% 50%;
  border: 2px solid red ;
  object-fit: cover;
  object-position: top;
  left: 45px;
  top:10px
}

.cardName{
 
  margin: auto;
  font-size: 20px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 600;
  color: black;
 
}
.cardName::after{
  content: '';
  display: inline-block;
  width: 50px;
  height: 50px;
  background-image: url(../images/account-multiple-plus.svg);
}
.actorString{
  color: black;
}

.icon{
  
  color: pink;
  display: inline-block;
  width: 50px;
  height: 50px;

  
}

.fb-icon{
  background-image: url(../images/facebook.svg);
}
.tw-icon{
  background-image: url(../images/twitter.svg);

}
.inst-icon{
  background-image: url(../images/instagram.svg);
}
.selectedList{
  text-align: center;
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 900;
}