:root{
  font-size: 16px;
  --photo-size: 320px;
}
#shower{
background: rgb(255,103,108);
background: linear-gradient(0deg, rgba(255,103,108,1) 0%, rgba(255,103,108,1) 50%, rgba(255,255,255,1) 51%);
min-height: 100vh;
}
img{
  width: 100%;
  
}
ul{
  list-style: none;
}
p{
  font-size: 50px;
  font-weight: 900;
  color:rgba(255,103,108,1);
  text-align: center;
}
.cardsContainer{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
.cardWrapper{
  width: 300px;
  height: 300px;
  margin: 1rem;
  padding: 2px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cardContainer{
  padding-top: 10px;
  text-align: center;
  width: 200px;
  height: 200px;
}
.cardPhotoWrapper{
  width: 150px;
  height: 190px;
  width: 100%;
  /* position: relative; */
}
.cardPhotoWrapper>*{
  width: 100%;
  height: 100%; 
  /* position: absolute; */
  left: 75px;
  right: 0;
  top: 20px;
  bottom: 0;
}
.cardInitial{
  text-align: center;
  padding-top: 60px;
  width: 100%;
  height: 100%;
  /* background-color: pink; */
  color: #ccc;
  font-size: 8rem;
}
.cardPhoto{
  width: 150px;
  height: 150px;
  border-radius: 50% 50%;
  border: 2px solid red ;
  object-fit: cover;
  object-position: top;
}

.cardName{
  /* padding-top: 1rem;
  padding-bottom: 0.5rem;*/
  /* padding-left: 6rem;  */
  margin: auto;
  font-size: large;
  color: black;
 
}
.actorString{
  color: black;
}
.iconBox{

}
.icon{
  
  color: pink;
  display: inline-block;
  width: 50px;
  height: 50px;
  /* margin:0.5rem */
  
}
.fb-icon,
.tw-icon,
.inst-icon{
  
}
.fb-icon{
  background-image: url(../images/facebook.svg);
}
.tw-icon{
  background-image: url(../images/twitter.svg);

}
.inst-icon{
  background-image: url(../images/instagram.svg);
}